.pdf-viewer{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 99999;
    text-align: center;
    display: none;

    .modal{
        display: flex;
        justify-content: center;
        max-width: 1360px;
        width: 100%;
        margin: auto;
        padding-top: 50px;

        .modal-dialog,
        .modal-content,
        .modal-body{
            width: 100%;   
        }
    }

    .the-pdf{
        min-height: 800px;
        @media (max-width: 1600px){
            min-height: 500px;
        }
        @media (max-width: 1130px){
            width: calc(100% - 40px) !important;
        }
        @media (max-width: 600px){
            min-height: 400px;
        }
    }

    .close-btn-container{
        text-align: right;
        margin-bottom: 10px;
        @media (max-width: 1130px){
            margin-right: 20px;
        }

        .close{
            outline: none;
            padding: 5px 20px;
        }
    }
}