#booking_form{


    .container{

    }
}

.cover-cards{
    display: flex;
    max-width: 850px;
    padding: 30px;
    // border: 5px solid red;
    margin: 50px 0;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.cover-card-seventy{
    max-width: 560px;
    width: 100%;
    // background: blue;
}
.cover-card-thirty{
    max-width: 205px;
    width: 100%;
    // background: red;
}

.card-item-header{
    .card-title{
        font-family: $modelica;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 0.02em;

        color: $primary;
    }

    
    .card-price{

    }

    .small-text{

    }
}
.card-description{

    .card-paragraph{
        font-family: $manrope;
        font-size: 14px;
        line-height: 180%;
        letter-spacing: 0.01em;
        color: $darkgrey;
    }
    
}
.card-btn{

}

.basket-cards{

}