.helping-points{

    background: #F2F4F7;
    padding: 100px 0;
    margin: 100px 0;
    margin-bottom: 0;

    @media (max-width: 600px){
        padding: 70px 0;
        margin-top: 70px;
    }

    .section-title{
        text-align: center;
        margin-bottom: 100px;

        font-size: 40px;
        line-height: 140%;

        @media (max-width: 600px){
            font-size: 35px;
            line-height: 140%;
            margin-bottom: 70px;
        }
    }

    .help-points-holder{
        display: grid;
        grid-template-columns: auto auto auto auto;

        @media (max-width: 992px){
            grid-template-columns: auto auto;
            grid-row-gap: 60px;
        }

        @media (max-width: 600px){
            grid-template-columns: auto;
        }

        .single-point{
            text-align: center;
            img{
                margin-bottom: 35px;
            }
            h3{
                font-size: 21px;
                line-height: 25px;
                color: #45515C;
                margin-bottom: 13px;
            }
            p{
                font-size: 14px;
            }
        }
    }

}